{% extends "app1/base.html" %}
{% load static %}

{% block title %} ДОМАШНЯЯ СТРАНИЦА {% endblock %}


{% block head %} 
<style type="text/css">
  form { 
   padding: 20px; /* Поля */
   background: #E5D3BD; /* Цвет фона */
   border: 2px solid #E81E25; /* Параметры рамки */
  }
 </style>
{% endblock %}

{% block content %}
  <hr>
  <button><a href="link1/">Главная</a></button> 
    <button><a href="link2/">Регистрация</a></button> 
      <button><a href="link3/">Подраздел</a></button> 
  <hr>
    <button> <a href="https://drikus.club/uploads/posts/2022-01/1642602478_32-drikus-club-p-gora-elbrus-s-samoleta-tekhnika-krasivo-fo-35.jpg" target="blank"><img src="{% static 'app1/95.jpg' %}" width="450" height="300" alt="My image"> </a> </button>
    <h1 style = "background-color: rgb(243, 186, 137); "  align = "center" >СТАРТОВАЯ СТРАНИЦА</h1>
    <p><button><a href="https://www.google.com/" target="blank" >ЖМИ!</a></button> <button><a href="https://dzen.ru/?yredirect=true" target="blank" >НЕ ЖМИ!</a></button></p>
    <p><button><a href="https://api.whatsapp.com/">WhatsApp</a></button></p>
    <p><button><a href="mailto:ovprus@gmail.com"> Напиши мне </a></button></p>
    <p><button><a href="https://dzen.ru/video/watch/637e48cb4451ce0ac4d4fb28?t=2"> Посмотри ролик </a></button></p>

{% endblock %}

